
#sticky
{
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    display: grid;
}

#header  {
    margin-left: 30px; 
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    background:  no-repeat 0 0;
    font-size: 40px;
    transform-style: preserve-3d;
    z-index:1;
    perspective: 400;
    //margin: 1em 0 0.5em 0;
	// color: #343434;
	font-weight: normal;
	//font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	color: rgba(173, 145, 145, 0.6);
    text-shadow: 1px 1px 1px rgba(240, 217, 217, 0.856);
}

#auth
{
    
    font-size: 14px;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(166, 166, 140)
}
a:hover
{
    color:rgb(166, 166, 240)
}

.userHello
{
    color: cadetblue;
}